* {
    margin: 0;
    padding: 0;
    font-family: 'poppons', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #0f0c09
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 70px;
    height: 70px;
    justify-self: center;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content:'' ;
    width: 0;
   height: 3px;
   background: #ff044f;
   position: absolute;
   left : 0;
   bottom: -6px;
   transition: 0.5s;
}

nav ul li a:hover::after{
   width: 100%;
}

.header-text{
    color: #fff;
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
   color: #ff044f;
}


/* ____________________________responsive */
@media only screen and (max-width:640px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 30px
    }
    
    .header-text h1{
        font-size: 30px;
        
    }
    .container i{
        color: #fff;
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff044f;
        position: fixed;
        height: 100vh;
        top: 0;
        right: -200px;
        width: 200px;
        padding-top:50px ;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1 , .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .copyright{
        font-size : 14px;
    }

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

.btn{
    width:150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #ed085f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.kunal{
    justify-self: center;
    border-radius: 8px;
    opacity: 0.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}